Feedback Collector - static old version.json
{
  "name": "Feedback Collector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback_collector_v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        -432
      ],
      "id": "fb9199bb-b88b-4a5f-b6a6-51497763e029",
      "name": "Webhook",
      "webhookId": "86449a20-89c4-4a24-a950-4ea2ad21c6c3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e48af57-e5f3-45c9-92a7-6809441cdc31",
              "name": "Full Name",
              "value": "={{\n(() => {\n  const f = ($json.body?.data?.fields || [])\n    .find(x => x.key === 'question_X0OAje');  // replace with your field's key\n  return f?.value ?? '';\n})()\n}}",
              "type": "string"
            },
            {
              "id": "fc8965a5-6c63-4a99-a9bf-b12e6391b14e",
              "name": "Email",
              "value": "={{\n(() => {\n  const f = ($json.body?.data?.fields || [])\n    .find(x => x.key === 'question_8xjD9k'); // replace with your actual key for Email\n  return f?.value ?? '';\n})()\n}}",
              "type": "string"
            },
            {
              "id": "77253c35-f610-4f53-a0b8-35b78dcb8d5f",
              "name": "Phone Number",
              "value": "={{\n(() => {\n  const f = ($json.body?.data?.fields || [])\n    .find(x => x.key === 'question_0Oo04P'); // key for “Number” in your payload\n  return f?.value ?? '';\n})()\n}}",
              "type": "string"
            },
            {
              "id": "dd76a620-9b22-478a-9e2c-da471ab24098",
              "name": "=Type of Feedback",
              "value": "={{\n(() => {\n  const FIELDS = $json.body?.data?.fields || [];\n  // find by label (trim + remove newlines so minor edits don't break)\n  const f = FIELDS.find(x => String(x.label).replace(/\\r?\\n/g,' ').trim() === 'Type of Feedback');\n  if (!f) return '';\n  const ids = Array.isArray(f.value) ? f.value : [f.value];\n  const id2text = new Map((f.options || []).map(o => [o.id, String(o.text).replace(/\\r?\\n/g,'').trim()]));\n  return ids.map(id => id2text.get(id)).filter(Boolean).join(', ');\n})()\n}}",
              "type": "string"
            },
            {
              "id": "9e1859ae-deb5-404d-9b65-85f7fbd53b7b",
              "name": "Please describe your feedback",
              "value": "={{\n(() => {\n  const f = ($json.body?.data?.fields || [])\n    .find(x => x.key === 'question_5xE0Nv'); // key for “Please describe your feedback”\n  return f?.value ?? '';\n})()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -432
      ],
      "id": "714dd30d-bb5e-44fc-9384-0fe7fb0c03d0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai.type }}",
                    "rightValue": "Complain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "69fdbd64-7e13-4db9-942b-7e65a51467b2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1ca35259-046a-4bd9-a031-e0736147ba0c",
                    "leftValue": "={{ $json.ai.type }}",
                    "rightValue": "Compliment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "11c919e3-2667-4d7a-a5de-e92ce59f075e",
                    "leftValue": "{{ $json.ai.type }}",
                    "rightValue": "Feature Request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e70ab2e8-556f-420b-b8ad-f1a972f186ad",
                    "leftValue": "={{ $json.ai.type }}",
                    "rightValue": "Other",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        544,
        400
      ],
      "id": "842ab7f7-07b4-4ee6-bff5-1f9abe2a9c02",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09Q6PAPHFW",
          "mode": "list",
          "cachedResultName": "complain"
        },
        "text": "=Name:{{ $('Edit Fields').item.json['Full Name'] }}\nEmail:{{ $('Edit Fields').item.json.Email }}\nComplain: {{ $('Edit Fields').item.json['Please describe your feedback'] }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        768,
        -240
      ],
      "id": "6792ea21-7ca6-4e5c-ad84-cf921352e21f",
      "name": "Send a message",
      "webhookId": "5986fc9d-0ae7-4706-aa79-0d08512784ce",
      "credentials": {
        "slackOAuth2Api": {
          "id": "oAXN3wBOt012DYLD",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09QJE5QY0Z",
          "mode": "list",
          "cachedResultName": "compliment"
        },
        "text": "=Name:{{ $('Edit Fields').item.json['Full Name'] }}\nEmail:{{ $('Edit Fields').item.json.Email }}\nCompliment: {{ $('Edit Fields').item.json['Please describe your feedback'] }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        768,
        336
      ],
      "id": "9850dfbf-16e8-48ed-9f13-5f7f760d0d1d",
      "name": "Send a message1",
      "webhookId": "5986fc9d-0ae7-4706-aa79-0d08512784ce",
      "credentials": {
        "slackOAuth2Api": {
          "id": "oAXN3wBOt012DYLD",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09PQ3GQKHV",
          "mode": "list",
          "cachedResultName": "feature-request"
        },
        "text": "=Name:{{ $('Edit Fields').item.json['Full Name'] }}\nEmail:{{ $('Edit Fields').item.json.Email }}\nFeature Request: {{ $('Edit Fields').item.json['Please describe your feedback'] }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        768,
        912
      ],
      "id": "54ade269-c804-4665-a906-3f27ffce714f",
      "name": "Send a message2",
      "webhookId": "5986fc9d-0ae7-4706-aa79-0d08512784ce",
      "credentials": {
        "slackOAuth2Api": {
          "id": "oAXN3wBOt012DYLD",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1nExmS2v2iInES0Ue3_NU_gOJ4TB3gZUVHZKzXOFnmN8",
          "mode": "list",
          "cachedResultName": "Customer Feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nExmS2v2iInES0Ue3_NU_gOJ4TB3gZUVHZKzXOFnmN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Complain",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nExmS2v2iInES0Ue3_NU_gOJ4TB3gZUVHZKzXOFnmN8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $('Edit Fields').item.json['Full Name'] }}",
            "Email Address": "={{ $('Edit Fields').item.json.Email }}",
            "Phone Number": "={{ $('Edit Fields').item.json['Phone Number'] }}",
            "Feedback": "={{ $('Edit Fields').item.json['Please describe your feedback'] }}"
          },
          "matchingColumns": [
            "Full Name"
          ],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        -48
      ],
      "id": "008fb5c2-4968-4d03-9725-db758b347f6d",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kxc8lhq2w0MnC7bV",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1nExmS2v2iInES0Ue3_NU_gOJ4TB3gZUVHZKzXOFnmN8",
          "mode": "list",
          "cachedResultName": "Customer Feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nExmS2v2iInES0Ue3_NU_gOJ4TB3gZUVHZKzXOFnmN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2129657517,
          "mode": "list",
          "cachedResultName": "Compliment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nExmS2v2iInES0Ue3_NU_gOJ4TB3gZUVHZKzXOFnmN8/edit#gid=2129657517"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json['Full Name'] }}",
            "Email Address": "={{ $json.Email }}",
            "Feedback": "={{ $json['Please describe your feedback'] }}",
            "Phone Number": "={{ $json['Phone Number'] }}"
          },
          "matchingColumns": [
            "Full Name"
          ],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        144
      ],
      "id": "d55b8212-0d4e-4ba3-b768-5daa046d4a3d",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kxc8lhq2w0MnC7bV",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1nExmS2v2iInES0Ue3_NU_gOJ4TB3gZUVHZKzXOFnmN8",
          "mode": "list",
          "cachedResultName": "Customer Feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nExmS2v2iInES0Ue3_NU_gOJ4TB3gZUVHZKzXOFnmN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 767265928,
          "mode": "list",
          "cachedResultName": "Feature Addition Request",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nExmS2v2iInES0Ue3_NU_gOJ4TB3gZUVHZKzXOFnmN8/edit#gid=767265928"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json['Full Name'] }}",
            "Email Address": "={{ $json.Email }}",
            "Phone Number": "={{ $json['Phone Number'] }}",
            "Feedback": "={{ $json['Please describe your feedback'] }}"
          },
          "matchingColumns": [
            "Full Name"
          ],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        528
      ],
      "id": "f7503b1e-c500-451b-93b1-67d55b945598",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kxc8lhq2w0MnC7bV",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.data.fields[1].value }}",
        "subject": "We’ve received your feedback",
        "emailType": "text",
        "message": "=Hi {{$json[\"Full Name\"]}},  \nWe’re sorry to hear about your experience and appreciate you bringing this to our attention.  Our team is reviewing your concern and will get back to you if more details are needed.  \nThank you for helping us improve.    \nRegards,   \nSupport Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        -240
      ],
      "id": "723854de-aebd-46b4-b702-88b22dc66066",
      "name": "Send a message3",
      "webhookId": "fbdcf8b4-6ca1-4637-b54d-89e3094759a9",
      "credentials": {
        "gmailOAuth2": {
          "id": "nVbloszQYdEu6OyM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.data.fields[1].value }}",
        "subject": "Thank you for your kind words!",
        "emailType": "text",
        "message": "=Hi {{$json[\"Full Name\"]}},\n\nWe truly appreciate your positive feedback. \nYour compliment motivates our team to keep delivering a better experience. \nThank you for taking the time to share your thoughts.\n\nBest regards,  \nSupport Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        336
      ],
      "id": "311d5853-381e-47d5-97fa-0b1f7f377577",
      "name": "Send a message5",
      "webhookId": "fbdcf8b4-6ca1-4637-b54d-89e3094759a9",
      "credentials": {
        "gmailOAuth2": {
          "id": "nVbloszQYdEu6OyM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.data.fields[1].value }}",
        "subject": "Your feature request has been noted",
        "emailType": "text",
        "message": "=Hi {{$json[\"Full Name\"]}},\n\nThank you for suggesting a new feature. \nWe’ve recorded your idea and will share it with our product team for review. \nWe value your input and love hearing how we can make things better.\n\nWarm regards,  \nSupport Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        912
      ],
      "id": "b5887ff3-d426-4a82-ac8b-fd34e486e968",
      "name": "Send a message4",
      "webhookId": "fbdcf8b4-6ca1-4637-b54d-89e3094759a9",
      "credentials": {
        "gmailOAuth2": {
          "id": "nVbloszQYdEu6OyM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1216,
        240
      ],
      "id": "714b8035-9db3-4d72-abfe-14f92cd38c2a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09QK5ZBE49",
          "mode": "list",
          "cachedResultName": "other-feedbacks"
        },
        "text": "=Name:{{ $('Edit Fields').item.json['Full Name'] }}\nEmail:{{ $('Edit Fields').item.json.Email }}\nOther Feedback: {{ $('Edit Fields').item.json['Please describe your feedback'] }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        768,
        1104
      ],
      "id": "ee91c5ad-0af8-4e3f-b2d8-8ec4ce4e74ae",
      "name": "Send a message6",
      "webhookId": "5986fc9d-0ae7-4706-aa79-0d08512784ce",
      "credentials": {
        "slackOAuth2Api": {
          "id": "oAXN3wBOt012DYLD",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1nExmS2v2iInES0Ue3_NU_gOJ4TB3gZUVHZKzXOFnmN8",
          "mode": "list",
          "cachedResultName": "Customer Feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nExmS2v2iInES0Ue3_NU_gOJ4TB3gZUVHZKzXOFnmN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 345867200,
          "mode": "list",
          "cachedResultName": "Other",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nExmS2v2iInES0Ue3_NU_gOJ4TB3gZUVHZKzXOFnmN8/edit#gid=345867200"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json['Full Name'] }}",
            "Email Address": "={{ $json.Email }}",
            "Phone Number": "={{ $json['Phone Number'] }}",
            "Feedback": "={{ $json['Please describe your feedback'] }}"
          },
          "matchingColumns": [
            "Full Name"
          ],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        720
      ],
      "id": "ef0f9307-d75b-46a1-b75b-9bfdb1c34191",
      "name": "Append or update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kxc8lhq2w0MnC7bV",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.data.fields[1].value }}",
        "subject": "Thank you for reaching out",
        "emailType": "text",
        "message": "=Hi {{ $('Edit Fields').item.json['Full Name'] }},  \n\nThank you for getting in touch and sharing your thoughts.  \nWe’ve received your message and will review it to see how best we can assist.  \nIf your inquiry needs follow-up, our team will contact you soon.  \n\nBest regards,  \nSupport Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        1104
      ],
      "id": "5160dbac-2d41-459a-afce-24889c664bbc",
      "name": "Send a message7",
      "webhookId": "fbdcf8b4-6ca1-4637-b54d-89e3094759a9",
      "credentials": {
        "gmailOAuth2": {
          "id": "nVbloszQYdEu6OyM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{$vars.GEMINI_API_KEY}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"generationConfig\": { \"temperature\": 0 },\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are a strict classifier. Output JSON only with keys: type, gibberish, confidence, reason. type ∈ {Complain, Compliment, Feature Request, Other}. gibberish = true if message is empty or random.\\n\\nSelectedType: {{ $json['Type of Feedback'] }}\\nMessage: {{ $json['Please describe your feedback'] }}\\n\\nReturn only JSON.\"\n    }]\n  }]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        -432
      ],
      "id": "fa9a51db-8ade-454f-ba66-de3a215bbbcc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "//----------------------------------------------------\n// Combined Gemini parse + relevance + routing logic\n//----------------------------------------------------\n\n// Inputs: from Edit Fields + HTTP Request\nconst fields = $json.body?.data?.fields || [];\nconst findVal = (label) => {\n  const f = fields.find(x => x.label?.trim() === label);\n  return f?.value ?? '';\n};\n\n// Get values from form\nconst sel = String(findVal('Type of Feedback') || $('Edit Fields').first().json['Type of Feedback'] || '').trim();\n\nconst msg = String(findVal('Please describe your feedback') || $('Edit Fields').first().json['Please describe your feedback']|| '')\n  .replace(/\\s+/g, ' ')\n  .trim();\nconst name = findVal('Full Name') || $json[\"Full Name\"];\nconst email = findVal('Email') || $json[\"Email\"];\n\n//---------------------------------------------\n// 1) Parse Gemini output safely\n//---------------------------------------------\nlet raw = $json.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\nraw = raw.replace(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i, '$1').trim();\nlet ai = {};\ntry { ai = JSON.parse(raw); } catch { ai = { type: 'Other', gibberish: false, confidence: 0 }; }\n\n//---------------------------------------------\n// 2) Heuristics for relevance\n//---------------------------------------------\nconst len   = msg.length;\nconst words = msg.split(' ').filter(Boolean);\nconst uniq  = new Set(words.map(w => w.toLowerCase())).size;\n\nconst isShort        = len < 8;\nconst fewUniqueShort = uniq < 2 && len < 20;\nconst hasMoneyAsk    = /\\b(need|send|pay|give|loan|transfer)\\b.*\\b(\\d{2,}|\\$|€|rs|inr)\\b/i.test(msg);\nconst manyEmojiHaha  = /(\\p{Extended_Pictographic}|ha){3,}/iu.test(msg);\nconst mismatch       = ai.type && sel && ai.type !== sel && (ai.confidence ?? 0) >= 0.6;\n\n// Initial gibberish\nlet gibberish = Boolean(ai.gibberish) || isShort || fewUniqueShort || manyEmojiHaha || hasMoneyAsk || mismatch;\n\n// Override: short but meaningful phrases\nconst seemsSentence = /\\b(use|know|need|want|help|fix|work|problem|issue|how|when|where|what|cannot|can't|don'?t)\\b/i.test(msg);\nif (seemsSentence && len > 10) gibberish = false;\n\n//---------------------------------------------\n// 3) Final type + output\n//---------------------------------------------\nconst effectiveType = gibberish ? 'Other' : (ai.type || sel || 'Other');\n\nreturn [{\n  json: {\n    \"Full Name\": name,\n    \"Email\": email,\n    \"Type of Feedback\": sel,\n    \"Please describe your feedback\": msg,\n    ai: { ...ai, gibberish },\n    flags: { isShort, fewUniqueShort, manyEmojiHaha, hasMoneyAsk, mismatch, seemsSentence, len, uniq },\n    effectiveType\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -432
      ],
      "id": "fd960e9c-b75d-4f4c-8cf1-ed108ebcf9b7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.data.fields[1].value }}",
        "subject": "Please clarify your feedback",
        "emailType": "text",
        "message": "=Hi {{ $('Edit Fields').item.json['Full Name'] }},  \n\nWe received your message, but it seems incomplete or unclear.  \nCould you please rephrase or add more details so we can understand your feedback better?  \nOnce you resubmit, our team will review it right away.  \n\nThank you for your time,  \nSupport Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        -432
      ],
      "id": "932c27ab-c77b-4985-80d2-0c961b4f5f16",
      "name": "Send a message9",
      "webhookId": "fbdcf8b4-6ca1-4637-b54d-89e3094759a9",
      "credentials": {
        "gmailOAuth2": {
          "id": "nVbloszQYdEu6OyM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1nExmS2v2iInES0Ue3_NU_gOJ4TB3gZUVHZKzXOFnmN8",
          "mode": "list",
          "cachedResultName": "Customer Feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nExmS2v2iInES0Ue3_NU_gOJ4TB3gZUVHZKzXOFnmN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 345867200,
          "mode": "list",
          "cachedResultName": "Other",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nExmS2v2iInES0Ue3_NU_gOJ4TB3gZUVHZKzXOFnmN8/edit#gid=345867200"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json['Full Name'] }}",
            "Email Address": "={{ $json.Email }}",
            "Phone Number": "={{ $json['Phone Number'] }}",
            "Feedback": "=Gibberish:{{ $json.ai.type }}\nFeedback: {{ $json['Please describe your feedback'] }}\nReason: {{ $json.ai.reason }}"
          },
          "matchingColumns": [
            "Full Name"
          ],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        -624
      ],
      "id": "66640617-9832-4312-a125-45b0582ba1d8",
      "name": "Append or update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kxc8lhq2w0MnC7bV",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02cb9546-781e-4187-92a4-9b24d2d69d0f",
              "leftValue": "={{ $json.ai.gibberish }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        -432
      ],
      "id": "8ab4659c-4733-472f-bbd2-545fd0c8ae68",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09QK5ZBE49",
          "mode": "list",
          "cachedResultName": "other-feedbacks"
        },
        "text": "=Gibberish:  {{ $('Edit Fields').item.json['Please describe your feedback'] }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        768,
        -432
      ],
      "id": "5eebeb10-573b-455b-99d7-3d56bf13627c",
      "name": "Send a message8",
      "webhookId": "3619d62f-1f6b-401c-9cba-befbb41f221a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "oAXN3wBOt012DYLD",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "tubasid.app.n8n.cloud",
            "user-agent": "Tally Webhooks",
            "content-length": "1107",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "baggage": "sentry-environment=production,sentry-release=e144aee0988af222741edb7f051c0d3a85ecde8e,sentry-public_key=6af4b6673f1648edaa8fef3f2ca43405,sentry-trace_id=d954f0a4f6b7a8386692849273501fc6,sentry-org_id=407628,sentry-sampled=false,sentry-sample_rand=0.36488774822618963,sentry-sample_rate=0.0001",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.96.41.20",
            "cf-ew-via": "15",
            "cf-ipcountry": "BE",
            "cf-ray": "99a74d6df3017a09-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sentry-trace": "d954f0a4f6b7a8386692849273501fc6-91a7d953c1505ca4-0",
            "x-forwarded-for": "34.96.41.20, 172.69.224.217",
            "x-forwarded-host": "tubasid.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-55-69f456d475-pp26j",
            "x-is-trusted": "yes",
            "x-real-ip": "34.96.41.20"
          },
          "params": {},
          "query": {},
          "body": {
            "eventId": "d5813ddd-9341-4168-9875-184070f9276d",
            "eventType": "FORM_RESPONSE",
            "createdAt": "2025-11-06T20:22:20.986Z",
            "data": {
              "responseId": "Ekg2VBl",
              "submissionId": "Ekg2VBl",
              "respondentId": "Ek5L6Xl",
              "formId": "n02K89",
              "formName": "Feedback Form",
              "createdAt": "2025-11-06T20:22:20.000Z",
              "fields": [
                {
                  "key": "question_X0OAje",
                  "label": "Full Name",
                  "type": "INPUT_TEXT",
                  "value": "tee"
                },
                {
                  "key": "question_8xjD9k",
                  "label": "Email Address",
                  "type": "INPUT_EMAIL",
                  "value": "tubaasid@gmail.com"
                },
                {
                  "key": "question_0Oo04P",
                  "label": "Number",
                  "type": "INPUT_PHONE_NUMBER",
                  "value": "+393455031774"
                },
                {
                  "key": "question_zYWBVZ",
                  "label": "Type of Feedback",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "problem"
                  ],
                  "options": [
                    {
                      "id": "29d9d1f4-f302-46d9-963e-4816426a93f3",
                      "text": "Complain"
                    },
                    {
                      "id": "cad1bc9c-aeaf-4a7f-af6a-a2f62d21bf12",
                      "text": "Compliment"
                    },
                    {
                      "id": "2cfbd345-16c4-4643-b98e-53efc27219e5",
                      "text": "Feature Request"
                    },
                    {
                      "id": "problem",
                      "text": "problem",
                      "isOtherOption": true,
                      "optionId": "b91b5d3b-4d10-4fe3-9896-7d3083c84a2f"
                    }
                  ]
                },
                {
                  "key": "question_5xE0Nv",
                  "label": "Please describe your feedback\n",
                  "type": "TEXTAREA",
                  "value": "I dont know how to use it"
                }
              ]
            }
          },
          "webhookUrl": "https://tubasid.app.n8n.cloud/webhook/feedback_collector_v1",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message4": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message5": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message6": {
      "main": [
        [
          {
            "node": "Send a message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message7": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet4": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message9": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message8": {
      "main": [
        [
          {
            "node": "Send a message9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "none",
    "availableInMCP": false,
    "errorWorkflow": "smb2yiMJIdriHa0k",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "versionId": "2b5339b7-b770-444d-8e01-f6756d2efba9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27f115a7c674d571468fbb03eea7822b778e772836ab4980200c4e4f95f6d432"
  },
  "id": "smb2yiMJIdriHa0k",
  "tags": []
}